<form (ngSubmit)="onAddProduct(f)" #f="ngForm">
  <input  type="text" ngModel name="productName" required>
  <!-- <button (click)="onAddProduct()"> -->
  <button type="submit">
    Adicionar produto
  </button>
</form>

<app-product (productClicked)="onRemoveProduct(product)" *ngFor="let product of products" [productName]="product"></app-product>
<!-- <div *ngFor="let product of products">{{ product }}</div> -->